<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>발송이 - 문자발송 서비스</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/custom.css" rel="stylesheet">



  <!-- =======================================================
  * Template Name: Kelly - v3.0.0
  * Template URL: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <%- header %>

  <!-- Side navigation -->
  <%- sidenav %>
  

  <main id="main">
    <input id="pageType" value="smslms" style="display: none;"></div>

    <div class="section-title" id="background-custom" style="font-weight: bold;">
      <h2>문자발송안내</h2>
      <p>1. 로그인 2. 080번호 발급 완료 3. 발신번호 등록 완료 4. 발송코인 충전 5. 발송</p>
      <p>90자 이하는 단문발송, 90자 초과는 장문발송됩니다</p>
      <p>장문 입력시 메세지를 먼저 입력하시고 제목을 입력해주세요</p>
      <a href="" class="btn-about">O8O번호 발급</a>
      <a href="" class="btn-about">발신번호 등록</a>
    </div>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            
            <div class="phone-section">
              <input type="text" class="form-control" placeholder="장문발송 제목(최대 20자)" id="msgSubject" style="width: 100%; pointer-events: none;"/>
              <button type="button" class="btn btn-secondary" onclick="resetMsg()">다시쓰기</button>
              <span style="text-align: right">
                
                <span class="bytes">0/90bytes</span>
              </span> 


              <div class="php-email-form">

                <textarea class="form-control" name="msg" id="msg" rows="16" style="width: 100%;"
                  data-rule="required" data-msg="메세지를 입력해주세요" placeholder="메세지 입력" ></textarea>
           
                
                <button type="button" class="btn btn-info">문자저장</button>
                <button type="button" class="btn btn-info" onclick="showUserMsg()">내문자</button>
                <button type="button" class="btn btn-info">특수문자</button>
                <button type="button" class="btn btn-info">이름추가</button>
                <input type="text" class="form-control" placeholder="발신번호" id="sender" style="margin-top: 10px; width: 100%;"/>
                <input type="text" class="form-control" placeholder="무료거부" style="margin-top: 10px; width: 100%;"/>
                <input type="text" class="form-control" name="passwd" id="passwd" placeholder="비밀번호" style="margin-top: 10px;width: 100%;"/>
              
                <div class="mb-3">
                  <div class="loading">로딩중...</div>
                  <div class="error-message"></div>
                  <div class="sent-message">문자발송 성공!</div>
                </div>
                <div class="text-center"><button class="submitButton" type="button" style="margin-bottom:10px;">발송</button></div>
              </div>
            </div>
            <div style="margin-top: 50px;"></div>
            <button style="display: f;" type="button" class="btn btn-outline-info" id=showCollection onclick="showCollection()">문자모음 보기</button>

          </div>
    
          <div class="col-lg-3">
            <div class="form-inline">
              <div class="form-group">
                <input type="text" name="phonenum" class="form-control" id="name" placeholder="수신번호( - 기호 생략)" 
                data-rule="minlen:11;"data-msg="11자의 전화번호를 입력해주세요" style="width: 190px"/>
              </div>
              <button type="button" class="btn btn-info" onclick="addPhonenum()">추가</button>
            </div>
            <select class="form-control" id="phonenumList" size="10" style="width: 250px;"></select>

            <button type="button" class="btn btn-outline-danger" onclick="deletePhonenum()">삭제</button>
            <button type="button" class="btn btn-outline-danger" onclick="deleteAll()">전체삭제</button>
            <button type="button" class="btn btn-outline-info" onclick="showInfo()" id="showInfo">명단확인</button>

            <select style="display: none" class="form-control" id="infoList" size="10" style="width: 250px;"></select>

            <div style="margin-top: 50px;"></div>

            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" id="reserveSend">
              <label class="form-check-label" for="reserveSend">
                예약발송(사용시 박스체크)
              </label>
            </div>
            <div class="form-group" style="width: 250px;"> 
              <div class="input-group date" id="datetimepicker1" data-target-input="nearest"> 
                <input type="text" class="form-control datetimepicker-input" id="reservedData" data-target="#datetimepicker1" placeholder="예약시간 설정(달력 클릭)"> 
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker"> 
                  <div class="input-group-text"><i class="fa fa-calendar"></i>
                  </div> 
                </div> 
              </div> 
            </div>

            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" id="splitSend">
              <label class="form-check-label" for="termSend">
                분할발송(사용시 박스체크)
              </label>
            </div>

            <div class="form-row">
              <div class="col-6">
                <input type="text" class="form-control" id="splitMinutes" style="width:50% ;display: inline; text-align:right ">
                <labe style="width: fit-content;">분 간격</label>
              </div>
              <div class="col-6">
                <input type="text" class="form-control" id="countPerSplit" style="width:60% ;display: inline; text-align:right">
                건씩 
              </div>
            </div>


          </div>

          <div class="col-lg-4">
            <div class="form-group">
              <div class="card-file">
                <div class="card">
                  <div class="card-header">
                      엑셀 파일
                  </div>
                  <div class="card-body">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="excelFile">
                      <label class="custom-file-label" for="excelFile">파일 선택</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-file">
                <div class="card">
                  <div class="card-header">
                      텍스트 파일
                  </div>
                  <div class="card-body">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="textFile">
                      <label class="custom-file-label" for="textFile">파일 선택</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <div class="card-file-header">
                    파일 입력 예시
                  </div> 
                </div>
                <div class="card-body">
                  <div class="custom-file">
                    <p>010-100-1000</p>
                    <p>홍길동 010-100-1000</p>
                    <p> 010-100-1000 홍길동</p>
                    <p>- 기호는 생략가능합니다</p>
                    <p>엑셀파일의 경우,</p>
                    <p>앞자리 0이 생략되어도 정상발송됩니다</p>
                  </div>
                </div>
              </div>

                  
              
            </div>
          </div>
          
        </div>
        <div class="row">

         
        </div>
        <div class="card text-center" id="card-table" style="display: none;">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link" id="firstNav" onclick="setFirst(this)">감사/행운</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="setSecond(this)">좋은글/명언</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="">선거문자</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="userNav" onclick="setUser(this)">내 문자</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <div class="form-group">
                      <textarea class="form-control" id="textarea1" rows="8" onclick="put_msg_body(this.value)">
                      </textarea>
                    </div>
                 
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <div class="form-group">
                      
                      <textarea class="form-control" id="textarea2" rows="8" onclick="put_msg_body(this.value)">
                      </textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <div class="form-group">
                      
                      <textarea class="form-control" id="textarea3" rows="8" onclick="put_msg_body(this.value)">
                      </textarea>
                    </div>
  
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <div class="form-group">
                      
                      <textarea class="form-control" id="textarea4" rows="8" onclick="put_msg_body(this.value)">
                      </textarea>
                    </div>
  
                  </div>
                </div>
              </div>

              
            </div>

            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

     
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  <%- footer %>

  

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/fileAndSend.js"></script>
  <script src="assets/js/msgContent.js"></script>
  <script src="assets/js/cash.js"></script>

  <!-- external module-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>

  <!--출처: https://blog.edit.kr/entry/Bootstrap-4-달력-datetimepicker-Bootstrap-3버전-업그레이드-버전-인기-달력 -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script> 
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />


  <script id="msg-handler">
    function put_msg_body(msg){

      document.getElementById("msg").value = msg;
      bytesHandler(document.getElementById("msg"))
    }

    function resetMsg(){
      document.getElementById("msg").value = "";
      $('span.bytes').text(0 + "/90bytes");
    }

    function showCollection(){
      var showCollection = document.getElementById("showCollection").innerHTML;

      if(showCollection == "문자모음 보기"){
        document.getElementById("showCollection").innerHTML = "문자모음 숨기기"
        $('#card-table').css("display","");
        setFirst(document.getElementById("firstNav"));
      }else{
        document.getElementById("showCollection").innerHTML = "문자모음 보기"
        $('#card-table').css("display","none");
      }
      
    }

    function showUserMsg(){
      document.getElementById("showCollection").innerHTML = "문자모음 숨기기"
        $('#card-table').css("display","");
        setFirst(document.getElementById("userNav"));
    }

  </script>

  <script id="phonenumList">

    function addPhonenum(){
      var phonenum = document.getElementById("name").value;
      if(phonenum.length > 10){
        $('#phonenumList').append('<option value="'+ phonenum +'">'+ phonenum +'</option>');
        console.log(phonenum);
      }
    }

    function deletePhonenum(){
      var sel = document.getElementById("phonenumList");
      var val = sel.options[sel.selectedIndex].value;
      $("#phonenumList option[value='"+val+"']").remove();
    }

    function deleteAll(){
      $('#phonenumList').children('option').remove();
    }


  </script>

</body>

</html>

