
.phone-section {
  border:solid ; border-style: outset; border-radius: 30px; border-width:20px; 
  
  border-color:lightslategray ;
}

.phone-section button{
  font-size: 0.8em;
}

.custom-file-input:lang(en)~.custom-file-label::after {
  content: "불러오기";
}

.card-file{
  font-weight: bold;
  margin-bottom: 30px;
  width: 80%;
}



