<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>발송이 - 문자발송 서비스</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/custom.css" rel="stylesheet">

  <!--w2ui-->
  <link href="assets/css/w2ui-custom.rc1.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="assets/w2ui/w2ui-1.5.rc1.js"></script>

  <!-- =======================================================
  * Template Name: Kelly - v2.1.0
  * Template URL: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <%- header %>

  <div class="section-title" id="background-custom" style="font-weight: bold; background-image: 'assets/img/3.jpg'; height: 250px;">
    <h2 style="width: 100px; margin-left: 46%;">주소록</h2>
  </div>

  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">


      <div class="row">
        <div class="col-lg-2 col-md-6 col-sm-12">
            
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
          <h2 style="font-weight: bold;">그룹선택</h2>
          <form action="/address/addGroup" class="form-inline"  method="post">
            <div class="form-group">
              <input type="text" name="groupName" class="form-control" id="groupName" placeholder="추가할 그룹이름" 
                style="width: 220px" required/>            
            </div>
            <button type="submit" class="btn btn-outline-dark">
              <i class="bx bx-plus" style="color:#336CCB"></i>그룹추가
            </button>
          </form>
          <div id="groupGrid" style="width: 100%; height: 250px;"></div>
          <form action="/addressDetail" style="display: inline;" method="get" onsubmit="return groupIdxCheck()">
            <input id="groupIdx" name="groupIdx" type='text' value="" style="display:none;"/>
            <button type="submit" class="btn btn-outline-info" >전화번호목록보기</button>
          </form>     
          <button type="button" class="btn btn-outline-danger" onclick="removeGroup();">선택삭제</button>  
          <button type="button" class="btn btn-outline-danger">상세보기</button>
          <div style="height: 20px;"></div>      
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12">
          
        </div>
      
    
        
        
      </div>

    



    </div>
  </section>

  


  <%- footer %>
  <div id="preloader"></div>

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/address.js"></script>
</body>

</html>