<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  
 <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>발송이 - 문자발송 서비스</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/custom.css" rel="stylesheet">

  <!--w2ui-->
  <link rel="stylesheet" type="text/css" href="assets/css/w2ui-custom.rc1.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="assets/w2ui/w2ui-1.5.rc1.js"></script>


  <!-- =======================================================
  * Template Name: Kelly - v2.1.0
  * Template URL: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <%- header %>
  <div class="section-title" id="background-custom" style="font-weight: bold; background-image: 'assets/img/3.jpg'; height: 250px;">
    <h2 style="width: 300px; margin-left: 40%;"><%- title %></h2>
  </div>

  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up" >



      <div class="info_txt">
        <ul>
            <li>문자발송결과는 통신사 결과값을 기반으로 표시됩니다.</li>
            <li>단문 최대 26시간, 장문/포토 최대 49시간까지 결과값이 수신되지 않은 경우 실패(코인 환불)처리 됩니다.</li>
            <li>문자발송결과는 최대 60일간 보관됩니다.</li>
            <li>실패시 실패사유는 아이디와 발송일을 이메일로 보내주시면 안내해드립니다.</li>
            <li style="font-size:19px; text-decoration:underline">상세보기를 클릭하면 각각의 발송문자에 대한 세부사항과 진행상황을 볼 수 있습니다.</li>
        </ul>
      </div>

     
      <div id="resultGrid" style="width: 95%; height: 470px; margin-left:5%"></div>
      <form action="/sendResult/detail" style="display: inline;margin-left:5%;" method="get" onsubmit="return userSendIndexCheck()">
        <input id="userSendIndex" name="userSendIndex" type='text' value="" style="display:none;"/>
        <input id="sendDate" name="sendDate" type='text' value="" style="display:none;"/>
        <input id="msgType" name="msgType" type='text' value="<%- msgType %>" style="display:none;"/>
        <button type="submit" class="btn btn-outline-info" >상세보기</button>
      </form>  
      <button type="button" class="btn btn-outline-danger" onclick="removeResult();">선택삭제</button>  

    

      


    </div>
  </section>

  


  <%- footer %>

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/sendResult.js"></script>

</body>

</html>